* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito", sans-serif;
  width: 1500px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
}

.form-outline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 900px;
  box-shadow: 0px 00px 10px rgba(0, 0, 0, 0.332);
  overflow: hidden;
}

.form-outline::before {
  position: absolute;
  content: "";
  height: 500px;
  width: 400px;
  background-color: rgb(139 0 0 / 80%);
  top: -90px;
  left: -82px;
  border-radius: 50%;
  z-index: -2;
}

.form-outline::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  background-color: rgb(139 0 0 / 80%);
  right: -12%;
  bottom: -12%;
  border-radius: 50%;
  z-index: -2;
}

.circle-light {
  position: absolute;
  height: 500px;
  width: 390px;
  background-color: rgb(255 0 0 / 80%);
  top: -114px;
  left: -108px;
  border-radius: 50%;
  z-index: -1;
}

.circle-light-bottom {
  position: absolute;
  height: 200px;
  width: 190px;
  background-color: rgb(255 0 0 / 80%);
  right: -12%;
  bottom: -12%;
  border-radius: 50%;
  z-index: -1;
}

.login{
  padding: 42px 56px;
}

.login-intro{
  display: block;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.login-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-logo .img-logo{
  color: #000;
}

.login-logo .logo-title{
  margin-bottom: 0px;
  color: transparent;
}

.gradient-text {
  background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  background-clip: text;
}

.login-content{
  display: block;
  text-align: center;
  font-size: 12px;
}

.login-form{
  display: grid;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

#username{
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#password{
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.social-icons{
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.social-icons a{
  color: #000;
  transition: all 0.2s;
}

.social-icons a:hover{
  color: blue;
  transform: scale(1.2);
}

.icons{
  border-radius: 50%;
  padding: 10px;
  height: 18px;
  width: 18px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}

.google:hover{
  color: rgba(255, 0, 0, 0.8)
}

.sign-in{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 20px;
  padding: 8px 18px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.login-create{
  display: flex;
  gap: 12px;
  justify-content: center;
  align-content: center;
  font-size: 12px;
}

.login-create a{
  text-decoration: none;
  color: rgba(255, 0, 0, 0.8);
  font-weight: 700;
}

.login-or{
  position: relative;
  text-align: center;
  font-size: 14px;
}

.login-or::before,.login-or::after{
  content: "";
  display: inline-block;
  width: 35%;
  height: 1px;
  background-color: rgba(0,0,0,0.3);
  vertical-align: middle;
}

.login-or::before{
  margin-right: 10px;
}

.login-or::after{
  margin-left: 10px;
}
.form-inline {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 450px;
  width: 800px;
  border-radius: 12px;
  box-shadow: 0px 00px 10px rgba(0, 0, 0, 0.332);
  background-color: white;
}

.form-content {
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.gradient{
  position: absolute;
  background: linear-gradient(rgba(255, 0, 0, 0.3),rgba(255, 0, 0, 0.3));
  height : 100%;
  width: 100%;
  top : 0;
  left: 0;
}

.form-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.logo-content {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 44px;
}

.logo-icon {
  display: block;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo {
  display: inline-block;
  height: 52px;
  width: 52px;
  color: #fff;
}

.logo-title {
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.logo-description {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  color: #fff;
}